body {
  box-sizing: border-box;
}

.logo {
  height: 6rem;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  width: 100vw;
  border: 2px solid black;
  flex-direction: row;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
}

.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.about {
  width: 100vw;
  background-color: #b8c9f6;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer {
  background-color: #ffffff;
}

.estrella-jul {
  height: 11rem;
}

.walkers-jul {
  height: 10rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #ef4144;
}

.news-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-items p {
  text-align: center;
}
.products-container {
  width: 100vw;
  background-color: #f3e861;
}

.products-items {
  display: flex;
  flex-direction: column;
}

.products-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  overflow: auto;
  white-space: nowrap;
}

.product-image {
  height: 7rem;
}
/*scrollmenu*/
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
